<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoCsharpAvamzado2022.Properties.Settings.AdministracionBD2022ConnectionString"
            connectionString="Data Source=PC-DARKSLAYER-X;Initial Catalog=AdministracionBD2022;Persist Security Info=True;User ID=sa;Password=pedroluis2992"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>